<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>administratie tewerkstelling</title>

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}"/>
    <link th:href="@{/static/css/style.css}" rel="stylesheet"/>
    <!--<script type="text/javascript" th:inline="js.js"/>-->


</head>

<body>
<img src="/static/images/images.png">
<h1>Intec Brussel</h1>
<h2>administratie tewerkstelling</h2>
</body>
</html>