<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="UTF-8">
    <title> Administratie tewerkstelling </title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Opleidingsnaam</th>
        <th> Startdatum</th>
        <th> Einddatum</th>
        <td>
            <button type="submit" value="submit" class="btn btn-success"> Nieuwe Opleiding Toevoegen</button>
        </td>
    </tr>
    </thead>

    <tr th:if="${trainings.empty}">
        <td colspan="2"> Geen opleindingen beschikbaar.</td>
        <td>
            <button type="submit" value="submit" class="btn btn-success"> Toevoegen</button>
        </td>
    </tr>
    <tr th:each="training : ${trainings}">
        <td><a th:href="@{'/trainings/'+${training.id}}"> <span th:text="${training.name}"> </span></a></td>
        <td><span th:text="${training.getStartDate()}">   </span></td>
        <td><span th:text="${training.getEndDate()}">   </span></td>
    </tr>

</table>
</body>
</html>