<!--<form  action="" th:action="@{/bewerken}" th:object="${training}" th:method="put">-->
<!--<input type="text" th:value="${training.name}">-->
<!--<input type="date" th:value="${training.startDate}">-->
<!--<input type="date" th:value="${training.endDate}">-->

<!--<button type="submit"  class="btn btn-success"> Bewerken </button>-->
<!--</form></td>-->

<!--<div>-->
<!--<form th:method="POST" th:action="@{/new}" th:object="${training}" >-->
<!--<div class="form-group">-->
<!--<label> opleiding naam :</label>-->
<!--<input type="text" th:field="*{name}" />-->
<!--<label> startdatum :</label>-->
<!--<input type="date" th:field="*{startDate}" />-->
<!--<label> einddatum :</label>-->
<!--<input type="date" th:field="*{endDate}" />-->

<!--</div>-->
<!--<button type="submit" class="btn btn-default"> Opleiding opslaan </button>-->
<!--</form>-->
<!--</div>-->

<!--<tbody>-->
<!--<tr th:each="training, rowStat: ${training}"-->
<!--th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">-->
<!--<td th:text="${training.id}">1</td>-->
<!--<td th:text="${training.name}">Jack</td>-->
<!--<td th:text="${student.age}">23</td>-->
<!--<td th:text="${student.age}">23</td>-->
<!--<button type="submit" class="btn btn-default"> Opleiding bewerken </button>-->
<!--</tr>-->
<!--</tbody>-->