<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Training </title>
</head>
<body>

<h1>TRAINING</h1>
<form action="#" th:action="@{/training/${training.getId()}}" th:object="${training}" method="post">

    <p> Name: <input type="text" th:field="${training.name}"/> </p>

    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
<table>
    <thead>
    <tr>
        <th> cursistnaam</th>
    </tr>
    </thead>

    <tr th:if="${students.empty}">
        <td colspan="2"> Geen cursisten beschikbaar.</td>

    <tr th:each="student : ${students}">
        <td><a th:href="@{'/student/'+${student.getId()}}"><span th:text="${student.getName()}"> </span></a></td>

    </tr>

</table>
<form th:object="${student}" method="post">
    <p>name: <input type="text" th:field="*{name}"/></p>
    <input type="hidden" th:field="*{training}" th:text="${training} "/>
    <button type="submit" value="submit" class="btn btn-success"> Cursist Toevoegen</button>
</form>

<!--<p> Training pagina </p>-->

<!--<form>-->
<!--<div>-->
<!--<div>< th:object = "${training}"> </div>-->
<!--<p>Simple Text Field: <input type="text" th:field="${training.name}" /></p>-->
<!--<div><span th:text="${training}">   </span></div>-->
<!--<p>Date Field: <input type="datetime-local" th:field="*{datetimeField}" /></p>-->
<!--<div class="form-group">-->
<!--<label> opleiding naam :</label>-->
<!--</form>-->
</body>
</html>